//Brand Colors
$fr-yellow: #FFC600;
$text-gray: #393939;

//Brand Fonts
$stix: 'Stix-Regular';
$stixB: 'Stix-Bold';
$stixI: 'Stix-Italic';
$stixBI: 'Stix-BoldItalic';

//General Breakpoints
$large: 1338px;
$medium: 1000px;
$small: 750px;
$phone: 500px;

//Team Breakpoints
$col-2: 1062px;
$col-1: 708px;

//Case Study Breakpoints
$stacked: 1260px;
