@import 'mixins';
@import 'variables';

.contact-hero{
  background: url('../img/contact/map.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 284px 0;

  .contact-headline{
    color: white;
    font-family: $stixB;
    font-size: 48px;
    text-align: center;
  }
}

.contact-form{
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  display: inline-block;
  padding: 45px 60px;
  width: 675px;


}
