@import 'mixins';
@import 'variables';

//Unnested Home Text Changes
#bold{font-weight: 900;}
#italic{ font-family: $stixBI;font-style: italic;}

//Hero (Main) Block
.hero-block{
  background: url('../img/home/backgrounds/windmill.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 100%;

  .hero-inner{
    display: block;
    margin: 0 auto;
    max-width: 750px;
    padding: 192px 0 180px 0;
    position: relative;
    @media screen and (max-width: $medium){
      max-width: 650px;
      padding: 172px 0 160px 0;
    }
    @media screen and (max-width: $small){
      max-width: 480px;
      padding: 150px 0 140px 0;
    }
    @media screen and (max-width: $phone){
      max-width: 100%;
      padding: 136px 30px 120px 30px;
    }

    .hero-headline{
      color: white;
      font-size: 66px;
      font-weight: 300;
      line-height: 77px;
      text-align: center;
      @media screen and (max-width: $medium){
        font-size: 54px;
        line-height: 62px;
      }
      @media screen and (max-width: $small){
        font-size: 44px;
        line-height: 50px;
      }
      @media screen and (max-width: $phone){
        font-size: 32px;
        line-height: 44px;
      }
    }

    .hero-divider{
      background: #AAAAAA;
      display: block;
      height: 1px;
      margin: 15px auto 38px auto;
      position: relative;
      width: 717px;
      @media screen and (max-width: $medium){
        margin: 12px auto 28px auto;
        width: 617px;
      }
      @media screen and (max-width: $small){
        margin: 14px auto 24px auto;
        width: 427px;
      }
      @media screen and (max-width: $phone){
        margin: 14px auto 24px auto;
        width: calc(100% - 40px);
      }
    }

    .hero-description{
      color: #B9B9B9;
      font-family: $stixI;
      font-style: italic;
      font-size: 28px;
      text-align: center;
      @media screen and (max-width: $medium){
        font-size: 24px;
      }
      @media screen and (max-width: $small){
        font-size: 18px;
      }
      @media screen and (max-width: $phone){
        font-size: 16px;
      }
    }

    .hero-button-link{
      display: inline-block;
      left: 50%;
      margin-top: 90px;
      position: relative;
      @include transform( translateX(-50%));
      @media screen and (max-width: $medium){
        margin-top: 65px;
      }
      @media screen and (max-width: $small){
        margin-top: 55px;
      }
      @media screen and (max-width: $phone){
        margin-top: 36px;
      }

      #hero-button{
        background: none;
        border: 4px solid $fr-yellow;
        cursor: pointer;
        height: 66px;
        width: 375px;
        @include transition( all 0.2s);
        @media screen and (max-width: $medium){
          height: 60px;
          width: 350px;
        }
        @media screen and (max-width: $small){
          height: 54px;
          width: 325px;
        }
        @media screen and (max-width: $phone){
          height: auto;
          width: 100%;
        }

        &:hover{
          background: $fr-yellow;

          .button-text{
            color: white;
          }
        }

        .button-text{
          color: $fr-yellow;
          font-size: 20px;
          font-weight: 700;
          @include transition( all 0.2s);
          @media screen and (max-width: $medium){
            font-size: 18px;
          }
          @media screen and (max-width: $small){
            font-size: 17px;
          }
          @media screen and (max-width: $phone){
            padding: 12px 18px;
            font-size: 16px;
          }
        }
      }
    }
  }
}


//Press Block;
.press-block{
  background: #CCCCCC;
  display: block;
  padding: 64px 10px 24px 10px;

  .press-description{
    color: #555555;
    display: block;
    font-family: $stixI;
    font-size: 28px;
    text-align: center;
    @media screen and (max-width: $medium){
      font-size: 26px;
    }
    @media screen and (max-width: $small){
      font-size: 24px;
    }
  }

  .press-list{
    display: block;
    margin: 10px auto;
    max-width: 1318px;
    text-align:center;

    @media screen and (max-width: $large){
      max-width: 1000px;
    }

    .press-item{
      display: inline-block;
      list-style: none;
      margin: 40px 40px;

      @media screen and (max-width: $large){
        margin: 30px 40px;
      }

      #forbes{
        width: 106px;
      }
      #usatoday{
        width: 160px;
      }
      #cnn{
        width: 64px;
      }
      #techcrunch{
        width: 212px;
      }
      #bloomberg{
        width: 150px;
      }
      #fortune{
        width: 154px;
      }

      img{
        height: 30px;
      }
    }
  }
}


//Capabilities Block
.capabilities-block{
  background: url('../img/home/backgrounds/eeg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 100vw;

  .capabilities-inner{
    display: block;
    margin: 0 auto;
    position: relative;
    padding: 200px 0;
    @media screen and (max-width: $large){
      padding: 180px 0;
    }
    @media screen and (max-width: $medium){
      padding: 160px 0;
    }
    @media screen and (max-width: $small){
      padding: 140px 0;
    }
    @media screen and (max-width: $small){
      padding: 100px 0;
    }

    .capabilities-headline{
      color: white;
      display: block;
      font-size: 66px;
      font-weight: 300;
      line-height: 77px;
      margin: 0 auto;
      max-width: 990px;
      text-align: center;
      @media screen and (max-width: $medium){
        font-size: 54px;
        line-height: 62px;
        max-width: 850px;
        padding: 0 30px;
      }
      @media screen and (max-width: $small){
        font-size: 44px;
        line-height: 50px;
        max-width: 710px;
        padding: 0 30px;
      }
      @media screen and (max-width: $phone){
        font-size: 32px;
        line-height: 40px;
        max-width: 100%;
        padding: 0 30px;
      }
    }

    .capabilities-list{
      display: block;
      margin: 80px auto 0 auto;
      max-width: 1315px;
      text-align: center;
      @media screen and (max-width: $large){
        margin: 50px auto 0 auto;
        max-width: 900px;
      }
      @media screen and (max-width: $medium){
        margin: 30px auto 0 auto;
      }
      @media screen and (max-width: $small){
        margin: 20px auto 0 auto;
      }
      @media screen and (max-width: $phone){
        max-width: 400px;
        margin: 10px auto 0 auto;
      }

      .capabilities-item{
        display: inline-block;
        margin: 50px 70px 0 70px;
        text-align: center;
        @media screen and (max-width: $large){
          min-width: 102px;
        }
        @media screen and (max-width: $small){
          margin: 50px 50px 0 50px;
          min-width: 96px;
        }
        @media screen and (max-width: $phone){
          margin: 50px 30px 0 30px;
          min-width: 90px;
        }

        img{
          vertical-align: top;
          width: 65px;
          @media screen and (max-width: $medium){
            width: 55px;
          }
          @media screen and (max-width: $phone){
            width: 50px;
          }
        }

        .capabilities-text{
          color: $fr-yellow;
          font-size: 18px;
          font-weight: 600;
          margin-top: 35px;

          @media screen and (max-width: $small){
            font-size: 17px;
            margin-top: 32px;
          }
          @media screen and (max-width: $phone){
            font-size: 16px;
            margin-top: 30px;
          }
        }
      }
    }
  }
}


//Inspire Block
.inspire-block{
  background: #333333;
  display: block;
  padding: 20px 0;

  .inspire-text{
    color: #b5b5b5;
    font-family: $stixI;
    font-size: 28px;
    line-height: 43px;
    margin: 80px auto;
    max-width: 854px;
    text-align: center;
    @media screen and (max-width: $medium){
      font-size: 24px;
      max-width: 700px;
      margin: 60px auto;
    }
    @media screen and (max-width: $small){
      font-size: 20px;
      max-width: 570px;
      margin: 50px auto;
      padding: 0 30px;
    }
  }
}


//Work Block
.work-block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .work-item{
    cursor: pointer;
    flex-basis: 33.33%;
    height: 600px;
    padding: 50px;
    position: relative;
    @media screen and (max-width: $medium){
      flex-basis: 50%;
      height: 500px;
    }
    @media screen and (max-width: $phone){
      flex-basis: 100%;
      height: 500px;
    }

    &:hover{
      &:before{
        background: rgba(0,0,0,0.7);
      }
    }

    &:before{
      background: rgba(35,54,112,0.7);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      @include transition( all 0.2s);
    }

    &#labor{
      background: url('../img/home/work/labor.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &#wind{
      background: url('../img/home/work/wind.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &#crowdsourcing{
      background: url('../img/home/work/crowdsourcing.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &#healthcare{
      background: url('../img/home/work/healthcare.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &#fitness{
      background: url('../img/home/work/fitness.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &#unicorn{
      background: url('../img/home/work/unicorn.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:nth-child(1){
      .work-text{
        font-family: $stixBI;
        max-width: 220px;
        @media screen and (max-width: $small){
          max-width: 200px;
        }
      }
    }
    &:nth-child(2){
      .work-text{
        font-weight: 900;
        max-width: 260px;
        @media screen and (max-width: $small){
          max-width: 220px;
        }
      }
    }
    &:nth-child(3){
      .work-text{
        font-family: $stixBI;
        max-width: 270px;
      }
    }
    &:nth-child(4){
      .work-text{
        font-weight: 900;
        max-width: 250px;
      }
    }
    &:nth-child(5){
      .work-text{
        font-family: $stixBI;
        max-width: 300px;
      }
    }
    &:nth-child(6){
      .work-text{
        font-weight: 900;
        max-width: 200px;
      }
    }

    // &:nth-child(1){
    //   .work-text{
    //     font-family: $stixBI;
    //     left: 50px;
    //     max-width: 220px;
    //     text-align: left;
    //   }
    // }
    // &:nth-child(2){
    //   .work-text{
    //     font-weight: 900;
    //     left: 50%;
    //     min-width: 260px;
    //     text-align: center;
    //     @include transform( translateX(-50%));
    //   }
    // }
    // &:nth-child(3){
    //   .work-text{
    //     font-family: $stixBI;
    //     max-width: 270px;
    //     right: 50px;
    //     text-align: right;
    //   }
    // }
    // &:nth-child(4){
    //   .work-text{
    //     bottom: 50px;
    //     font-weight: 900;
    //     left: 50px;
    //     max-width: 250px;
    //     text-align: left;
    //   }
    // }
    // &:nth-child(5){
    //   .work-text{
    //     bottom: 50px;
    //     font-family: $stixBI;
    //     left: 50%;
    //     text-align: center;
    //     @include transform( translateX(-50%));
    //   }
    // }
    // &:nth-child(6){
    //   .work-text{
    //     bottom: 50px;
    //     font-weight: 900;
    //     max-width: 200px;
    //     right: 50px;
    //     text-align: right;
    //   }
    // }

    .work-text{
      bottom: 50px;
      color: white;
      font-size: 48px;
      left: 50px;
      line-height: 54px;
      position: absolute;
      text-align: left;
      z-index: 2;
      @media screen and (max-width: $large){
        bottom: 44px;
        font-size: 44px;
        left: 44px;
        line-height: 50px;
      }
      @media screen and (max-width: $medium){
        bottom: 40px;
        font-size: 40px;
        left: 40px;
      }
      @media screen and (max-width: $small){
        bottom: 32px;
        font-size: 32px;
        left: 32px;
      }

      &:after{
        content: url('../img/symbols/arrows.svg');
        height: 19px;
        margin-left: 5px;
        margin-top: -1px;
        position: absolute;
        width: 21px;
      }
    }
  }
}


//People Block
.people-block{
  background: #cccccc;
  display: block;
  padding: 20px 0;

  .people-text{
    color: #555555;
    font-family: $stixI;
    font-size: 28px;
    line-height: 43px;
    margin: 80px auto;
    max-width: 854px;
    text-align: center;
    @media screen and (max-width: $medium){
      font-size: 24px;
      max-width: 724px;
      margin: 60px auto;
    }
    @media screen and (max-width: $small){
      font-size: 20px;
      max-width: 520px;
      margin: 50px auto;
      padding: 0 24px;
    }

    #team-arrow{
      background: url('../img/symbols/arrows.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 21px 19px;
      box-sizing: content-box;
      cursor: pointer;
      height: 19px;
      margin-top: 3px;
      padding: 10px 5px;
      position: absolute;
      width: 21px;
    }
  }
}


//CTA Block
.cta-block{
  background: url('../img/home/backgrounds/explosion.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 100%;

  .cta-inner{
    display: block;
    margin: 0 auto;
    max-width: 580px;
    padding: 174px 0;
    @media screen and (max-width: $medium){
      max-width: 480px;
      padding: 150px 0;
    }
    @media screen and (max-width: $small){
      max-width: 390px;
      padding: 130px 0;
    }
    @media screen and (max-width: $phone){
      max-width: 100%;
      padding: 120px 30px;
    }

    .cta-headline{
      color: white;
      font-size: 66px;
      font-weight: 300;
      line-height: 77px;
      text-align: center;
      @media screen and (max-width: $medium){
        font-size: 54px;
        line-height: 62px;
      }
      @media screen and (max-width: $small){
        font-size: 44px;
        line-height: 50px;
      }
      @media screen and (max-width: $phone){
        font-size: 32px;
        line-height: 44px;
        margin: 0 auto;
        max-width: 280px;
      }
    }

    .cta-button-link{
      display: inline-block;
      left: 50%;
      margin-top: 50px;
      position: relative;
      @include transform( translateX(-50%));
      @media screen and (max-width: $medium){
        margin-top: 45px;
      }
      @media screen and (max-width: $small){
        margin-top: 40px;
      }
      @media screen and (max-width: $phone){
        margin-top: 35px;
      }

      #cta-button{
        background: none;
        border: 4px solid $fr-yellow;
        cursor: pointer;
        height: 65px;
        width: 375px;
        @include transition( all 0.2s);
        @media screen and (max-width: $medium){
          height: 60px;
          width: 350px;
        }
        @media screen and (max-width: $small){
          height: 55px;
          width: 325px;
        }
        @media screen and (max-width: $phone){
          height: auto;
          width: 100%;
        }

        &:hover{
          background: $fr-yellow;

          .button-text{
            color: white;
          }
        }

        .button-text{
          color: $fr-yellow;
          font-size: 20px;
          font-weight: 700;
          @include transition( all 0.2s);
          @media screen and (max-width: $medium){
            font-size: 18px;
          }
          @media screen and (max-width: $medium){
            font-size: 17px;
          }
          @media screen and (max-width: $phone){
            padding: 12px 18px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
